.key {
  border-radius: 40%;
  transition-duration: 0.3s;
  box-shadow: 3px 3px 3px black;
}

.key:active {
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
}

#dropdown {
  position: absolute;
  position: fixed;
  margin-top: 90px;
  transition: 300ms;
}
.dropdown-1 {
  display: flex;
  padding-top: 70px;
  background-color: rgba(0, 0, 0, 0.8);
}
