.key {
  border-radius: 40%;
  transition-duration: 0.3s;
  box-shadow: 3px 3px 3px black;
}

.key:active {
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: none;
}

#dropdown {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 2000;
  position: fixed;
  margin-top: 90px;
}
.dropdown-1 {
  display: flex;
}

.logo {
  background-color: rgba(0, 0, 0, 0.8);
}
